.bg {
  padding-top: 20px ;
  background: #10131f;
  color: #fff;
  padding-bottom: 90px;
}
.container {
  width: 80%;
  margin-left: 20%;
  position: relative;
}
.container:after,  .container::before{
  position: absolute;
  content: "";
  height: calc(100% + 140px);
  width: 1px;
  top: -48px;
  left: 4%;
  background-color: #fff;
}
.container::before{
  display: none;
}
.blogTitle {
  font-size: 26px;
  margin: 28px 0;
  margin-left: 30%;
  font-weight: 500;
}
.postGrid {
  width: 100%;
  text-align: center;
  padding-left: 18%;
  height: auto;
}
.post {
  width: 100%;
  padding: 10px 0;
}
.postImg {
  width: 100%;
  max-width: 266px;
}
.postMessage {
  font-size: 16px;
  margin: 0 auto;
  margin-top: 8px;
  font-weight: 300;
  margin-bottom: 50px;
  max-width: 250px;
}
.btnWrapper{
  position: absolute;
  right: 0;
  bottom: -30px;
}
.learnMore {
  position: relative;
  background: transparent;
  width: 214px;
  height: auto;
  bottom: 0px;
}
.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
}

.icon,
.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #10131f;
  left: 40%;
  transform: translateX(-50%);
  width: 1.125rem;
  height: 0.125rem;
}
.icon {
  background: none;
}
.icon::before,
.arrow::before {
  position: absolute;
  content: "";
  top: -0.294rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #10131f;
  border-right: 0.125rem solid #10131f;
  transform: rotate(45deg);
}
.buttonText {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .container:after {
    left: 59%;
  }
  .blogTitle {
    font-size: 34px;
    margin-left: 25.4%;
    position: absolute;
    top: -1.7%;
  }
  .postGrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 30px;
    margin-left: 0;
    padding-left: 24%;
    width: 97%;
    margin-top: 28px;
  }
  .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  .post:nth-child(1) {
    margin-top: 84px;
  }
  .post:nth-child(2) {
    margin-top: 10px;
  }
  .btnWrapper{
    position: absolute;
    right: 40px;
  }
  .learnMore{
      width: 264px;
  }
  .learnMore:hover .circle {
    width: 100%;
  }
  .learnMore:hover .arrow {
    transform: translate(7rem, 0);
  }
  .learnMore:hover .buttonText {
    color: #10131f;
  }
  .buttonText {
    left: 0px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .container::after {
    left: 72%;
  }
  .container::before{
    display: block;
    left: 44.8%;
  }
  .blogTitle {
    margin-left: 19%;
    font-size: 45px;
    top: 1%;
  }
  .postGrid {
    column-gap: 0px;
    grid-template-columns: 462fr 433fr 415fr;
    padding-left: 16%;
    width: 98%;
  }
  .postMessage {
    font-size: 20px;
  }
  .postImg {
    max-width: 80%;
  }
  .post:nth-child(1) {
    margin-top: 140px;
  }
  .post:nth-child(2) {
    margin-top: 140px;
  }
  .post:nth-child(3) {
    margin-top: 70px;
  }
 
}

