.bg {
  padding-top: 20px ;
  background: #10131f;
  color: #fff;
  padding-bottom: 90px;
}
.container {
  width: 80%;
  margin-left: 20%;
  position: relative;
}
.container:after,  .container::before{
  position: absolute;
  content: "";
  height: calc(100% + 140px);
  width: 1px;
  top: -48px;
  left: 4%;
  background-color: #fff;
}
.container::before{
  display: none;
}
.blogTitle {
  font-size: 26px;
  margin: 28px 0;
  margin-left: 30%;
  font-weight: 500;
}
.postGrid {
  width: 100%;
  text-align: center;
  padding-left: 18%;
  height: auto;
}
.post {
  width: 100%;
  padding: 10px 0;
}
.postImg {
  width: 100%;
  max-width: 266px;
}
.postMessage {
  font-size: 16px;
  margin: 0 auto;
  margin-top: 8px;
  font-weight: 300;
  margin-bottom: 50px;
  max-width: 250px;
}
.btnWrapper{
  position: absolute;
  right: 0;
  bottom: -30px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .container:after {
    left: 59%;
  }
  .blogTitle {
    font-size: 34px;
    margin-left: 25.4%;
    position: absolute;
    top: -1.7%;
  }
  .postGrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 30px;
    margin-left: 0;
    padding-left: 24%;
    width: 97%;
    margin-top: 28px;
  }
  .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  .post:nth-child(1) {
    margin-top: 84px;
  }
  .post:nth-child(2) {
    margin-top: 10px;
  }
  .btnWrapper{
    position: absolute;
    right: 40px;
  }
}
@media (min-width: 1200px) {
  .container::after {
    left: 72%;
  }
  .container::before{
    display: block;
    left: 44.8%;
  }
  .blogTitle {
    margin-left: 19%;
    font-size: 45px;
    top: 1%;
  }
  .postGrid {
    column-gap: 0px;
    grid-template-columns: 462fr 433fr 415fr;
    padding-left: 16%;
    width: 98%;
  }
  .postMessage {
    font-size: 20px;
  }
  .postImg {
    max-width: 80%;
  }
  .post:nth-child(1) {
    margin-top: 140px;
  }
  .post:nth-child(2) {
    margin-top: 140px;
  }
  .post:nth-child(3) {
    margin-top: 70px;
  }
 
}

