.services_container {
  min-height: 450px;
  width: 100%;
  background-color: #424b5a;
  position: relative;
  padding-bottom: 50px;
}

.services_wrapper {
  min-height: 450px;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.services_title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 75px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.services_item_title {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: white;
}
.services_item_text {
  display: none;
}

.services_box {
  position: relative;
  background-image: url("../../assets/photos/complete_pic2.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 446px;
  margin: 0 auto;
}

.services_completepic {
  width: 100%;
  height: auto;
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services_cirlce1 {
  width: 40%;
  height: auto;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services_cirlce2 {
  width: 70%;
  height: auto;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.services_list li {
  position: absolute;
}

.service_item1 {
  left: 22%;
  top: 21%;
}

.service_item1::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 31px;
  left: 30%;
  top: 98%;
  background-image: url("../../assets/photos/servicesicon1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service_item2 {
  left: 68%;
  top: 26%;
}
.service_item2::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 30px;
  left: 19%;
  top: 103%;
  background-image: url("../../assets/photos/servicesicon2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service_item3 {
  left: 3%;
  top: 56%;
}

.service_item3::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 32px;
  left: 26%;
  top: -111%;
  background-image: url("../../assets/photos/servicesicon3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service_item4 {
  left: 76%;
  top: 69%;
}
.service_item4::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 35px;
  left: 12%;
  top: -132%;
  background-image: url("../../assets/photos/servicesicon4.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service_item5 {
  left: 19%;
  top: 74%;
}
.service_item5::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 29px;
  left: 30%;
  top: -218%;
  background-image: url("../../assets/photos/servicesicon5.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btnWrapper {
  position: absolute;
  right: 11%;
  width: 190px;
  bottom: 10px;
}

@media (min-width: 768px) {
  .services_box {
    background-image: url("../../assets/photos/completepic_tablet.svg");
    width: 614px;
  }
  .services_cirlce1 {
    width: 42%;
    left: 50%;
  }
  .services_cirlce2 {
    width: 72%;
    left: 50%;
  }
  .services_title {
    padding-left: 9%;
    padding-top: 30px;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  .services_item_title {
    font-weight: 800;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.02em;
  }
  .services_item_text {
    display: block;
    width: 140px;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 5px;
  }

  .service_item1 {
    left: 6%;
    top: 9%;
  }
  .service_item1::before {
    width: 56px;
    height: 47px;
    left: 97%;
    top: 7%;
  }
  .service_item2 {
    left: 74%;
    top: 15%;
  }
  .service_item2::before {
    width: 50px;
    height: 44px;
    left: -36%;
    top: 19%;
  }
  .service_item3 {
    left: 6%;
    top: 63%;
  }
  .service_item3::before {
    width: 52px;
    height: 46px;
    left: 50%;
    top: -56%;
  }
  .service_item4 {
    left: 73%;
    top: 61%;
  }
  .service_item4::before {
    width: 49px;
    height: 50px;
    left: 3%;
    top: -89%;
  }
  .service_item5 {
    left: 41%;
    top: 85%;
  }
  .service_item5::before {
    width: 50px;
    height: 44px;
    left: -43%;
    top: -48%;
  }
  .btnWrapper {
    bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .services_box {
    background-image: url("../../assets/photos/completepic_desctop.svg");
    width: 960px;
    height: 900px;
  }
  .services_title {
    font-size: 50px;
  }
  .services_item_title {
    line-height: 24px;
    font-size: 21px;
  }
  .services_item_text {
    width: 235px;
    font-size: 18px;
    line-height: 18px;
  }
  .services_cirlce1 {
    width: 35%;
    left: 50%;
  }
  .services_cirlce2 {
    width: 65%;
    left: 50%;
  }
  .service_item1 {
    left: 2%;
    top: 14%;
  }
  .service_item1::before {
    width: 93.43px;
    height: 78px;
    left: 101%;
    top: 6%;
  }
  .service_item2 {
    left: 80%;
    top: 18%;
  }
  .service_item2::before {
    width: 89px;
    height: 78px;
    left: -44%;
    top: 19%;
  }
  .service_item3 {
    left: 10%;
    top: 61%;
  }
  .service_item3::before {
    width: 87px;
    height: 78px;
    left: 6%;
    top: -66%;
  }
  .service_item4 {
    left: 79%;
    top: 60%;
  }
  .service_item4::before {
    width: 78px;
    height: 80px;
    left: 3%;
    top: -64%;
  }
  .service_item5 {
    left: 43%;
    top: 79%;
  }
  .service_item5::before {
    width: 85.5px;
    height: 75px;
    left: -45%;
    top: -12%;
  }
}
