.services_container {
  width: 100%;
  background-color: #424b5a;
}

.services_wrapper {
  width: 280px;
  margin: 0 auto;
}

.services_title {
  font-family: "MPLUS1p";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 75px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 20px;
}

.services_item_title {
  text-align: center;
  font-family: "MPLUS1p";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: white;
  padding-bottom: 20px;
}

.services_text {
  display: none;
  text-align: center;
  font-family: "MPLUS1p";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: white;
  padding-bottom: 20px;
}

.services_list {
  display: flex;
  justify-content: space-between;
}

.services_list li {
  width: 50px;
  color: white;
}

.services_box1 {
  order: 1;
  height: 200px;
}
.services_box2 {
  order: 3;
  height: 200px;
}
.services_box3 {
  order: 2;
  top: 50px;
}

.services_box1_list {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services_box2_list {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services_box3 {
  height: 50px;
  bottom: 20px;
  margin-top: 255px;
}

.services_logo {
  position: absolute;
  width: 70px;
  height: 116px;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.services_line1 {
  position: absolute;
  left: 25%;
    top: 36%;
}
.services_dot1 {
  position: absolute;
  left: 34%;
  top: 38.4%;
}

.services_line2 {
  position: absolute;
  left: 26%;
    top: 46%;
    transform: rotate(-70deg);
}
.services_dot2 {
  position: absolute;
  left: 35%;
  top: 49.4%;
}

.services_line3 {
  position: absolute;
  left: 66%;
  top: 50%;
  transform: rotate(-16deg);
}
.services_dot3 {
  position: absolute;
  left: 63%;
  top: 38.3%;
}
.services_line4 {
  position: absolute;
  left: 51%;
  top: 36%;
  transform: rotate(106deg);
}
.services_dot4 {
  position: absolute;
  left: 62%;
  top: 50.9%;
}
.services_line5 {
  position: absolute;
  left: 38%;
  top: 61%;
  transform: rotate(58deg);
}
.services_dot5 {
  position: absolute;
  left: 49%;
  top: 57.5%;
}

.learnMore {
  position: relative;
  background: transparent;
  width: 214px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 45px;
}
.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
}

.icon,
.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #10131f;
  left: 40%;
  transform: translateX(-50%);
  width: 1.125rem;
  height: 0.125rem;
}
.icon {
  background: none;
}
.icon::before,
.arrow::before {
  position: absolute;
  content: "";
  top: -0.294rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #10131f;
  border-right: 0.125rem solid #10131f;
  transform: rotate(45deg);
}
.buttonText {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

@media (min-width: 1200px) {
  .services_container {
    height: 776px;
    background-color: #424b5a;
  }

  .services_title {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 75px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .services_item_title {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }

  .services_text {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  .services_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .services_wrapper {
    width: 1100px;
    margin: 0 auto;
  }

  .services_list {
    display: flex;
    justify-content: space-between;
  }

  .services_list li {
    width: 300px;
    color: white;
  }

  .services_box1 {
    order: 1;
    height: 450px;
  }
  .services_box2 {
    order: 3;
    height: 450px;
  }
  .services_box3 {
    order: 2;
    top: 50px;
  }

  .services_box1_list {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .services_box2_list {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .services_box3 {
    height: 200px;
    bottom: 20px;
    margin-top: 490px;
  }
}
