.servicespage_container {
  width: 100%;
  min-height: 800px;
  background-color: #424b5a;
}

.serviceslist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.services_title {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.serviceslist_item1,
.serviceslist_item2,
.serviceslist_item3,
.serviceslist_item4,
.serviceslist_item5,
.serviceslist_item6 {
  position: relative;
  width: 150px;
  text-align: left;
  margin-right: 12%;
}

.serviceslist_item_title {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 5px;
}

.services_item_text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 15px;
}


.serviceslist_item1::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 34px;
  left: -39%;
  top: 3%;
  background-image: url("../../../assets/aboutusicons/1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceslist_item2::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 34px;
  left: -39%;
  top: 3%;
  background-image: url("../../../assets/aboutusicons/3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceslist_item3::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 34px;
  left: -39%;
  top: 3%;
  background-image: url("../../../assets/aboutusicons/2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceslist_item4::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 34px;
  left: -39%;
  top: 3%;
  background-image: url("../../../assets/aboutusicons/4.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceslist_item5::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 34px;
  left: -39%;
  top: 3%;
  background-image: url("../../../assets/aboutusicons/5.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceslist_item6::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 34px;
  left: -39%;
  top: 3%;
  background-image: url("../../../assets/aboutusicons/6.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.methodics p {
  width: 205px;
  margin: 0 auto;
}

.questions {
  padding-bottom: 50px;
}
.questions_item {
  position: relative;
  width: 200px;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

.animated_questions_item {
  position: relative;
  width: 200px;
  height: 150px;
  transition: all 0.5s ease-in-out;
}

.questions_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions_item_title {
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.questions_item_text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.questions_button, .questions_button_minus{
  width: 14px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: -14%;
  top: 16%;
  transition: all 0.4s ease;
}
.questions_button:after, .questions_button_minus:after{
  content:"";
  width: 2px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  left: 40%;
  top: -242%;
  transform: rotate(90deg);
}
.questions_button_minus:after{
  height: 13px;
  transform: rotate(180deg);
  left: 42%;
}
.questions_button_minus{
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .serviceslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
  .serviceslist_item_title {
    width: 185px;
    text-align: left;
    margin: 0 auto;
  }
  .services_item_text {
    width: 185px;
    text-align: left;
    margin: 0 auto;
  }

  .serviceslist_item1,
  .serviceslist_item2,
  .serviceslist_item3,
  .serviceslist_item4,
  .serviceslist_item5,
  .serviceslist_item6 {
    width: 300px;
    margin-right: 0;
  }
  .serviceslist_item1,
  .serviceslist_item3,
  .serviceslist_item5 {
    margin-left: 80px;
  }

  .serviceslist_item1::before {
    left: 0%;
  }

  .serviceslist_item2::before {
    left: 0%;
  }

  .serviceslist_item3::before {
    left: 0%;
  }

  .serviceslist_item4::before {
    left: 0%;
  }

  .serviceslist_item5::before {
    left: 0%;
  }

  .serviceslist_item6::before {
    left: 0%;
  }

  .methodics_list {
    display: flex;
    justify-content: space-around;
  }

  .questions_item_title {
    font-size: 15px;
  }

  .questions_item {
    width: 300px;
    height: 70px;
  }

  .animated_questions_item {
    width: 300px;
  }
}

@media (min-width: 1060px) and (max-width: 1199px) {
  .serviceslist_item1,
  .serviceslist_item3,
  .serviceslist_item5 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .servicespage_box {
    width: 80%;
    margin: 0 auto;
  }
  .serviceslist_box{
    width: 800px;
    margin: 0 auto;
  }

  .methodics_item_text{
    width: 300px;
  }

  .services_title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    padding-bottom: 30px;
  }
  .serviceslist_item1,
  .serviceslist_item2,
  .serviceslist_item3,
  .serviceslist_item4,
  .serviceslist_item5,
  .serviceslist_item6 {
    width: 400px;
    margin-right: 0;
  }
  .serviceslist_item1,
  .serviceslist_item3,
  .serviceslist_item5 {
    margin-left: 0;
  }

  .serviceslist_item_title {
    font-weight: 800;
    font-size: 25px;
    line-height: 37px;
    width: 260px;
  }

  .services_item_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    width: 260px;
  }

  .serviceslist_item1::before {
    left: -8%;
    top: 14%;
    width: 69px;
    height: 54px;
  }

  .serviceslist_item2::before {
    left: -8%;
    top: 12%;
    width: 67px;
    height: 54px;
  }

  .serviceslist_item3::before {
    left: -8%;
    top: 14%;
    width: 68.5px;
    height: 54px;
  }

  .serviceslist_item4::before {
    left: -8%;
    top: 15%;
    width: 68.5px;
    height: 55px;
  }

  .serviceslist_item5::before {
    left: -8%;
    top: 15%;
    width: 68.5px;
    height: 54px;
  }

  .serviceslist_item6::before {
    left: -8%;
    top: 16%;
    width: 68.5px;
    height: 54px;
  }

  .questions_item_title {
    font-size: 20px;
  }

  .questions_item_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
  }
  .questions_item {
    width: 50%;
  }
  .animated_questions_item {
    width: 50%;
  }

  .methodics p {
    width: 350px;
    margin: 0 auto;
  }
}
