.learnMore {
    position: relative;
    background: transparent;
    width: 214px;
    height: auto;
    bottom: 0px;
    transform: scale(0.7);
  }
  .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 20px;
  }
  
  .icon,
  .arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #10131f;
    left: 40%;
    transform: translateX(-50%);
    width: 1.125rem;
    height: 0.125rem;
  }
  .icon {
    background: none;
  }
  .icon::before,
  .arrow::before {
    position: absolute;
    content: "";
    top: -0.294rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #10131f;
    border-right: 0.125rem solid #10131f;
    transform: rotate(45deg);
  }
  .buttonText {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
  }
  @media (min-width: 768px) {
    .learnMore{
        width: 264px;
        transform: scale(1);
    }
    .learnMore:hover .circle {
      width: 100%;
    }
    .learnMore:hover .arrow {
      transform: translate(7rem, 0);
    }
    .learnMore:hover .buttonText {
      color: #10131f;
    }
    .buttonText {
      left: 0px;
      font-size: 14px;
    }
  }
  @media (min-width: 1200px) {
    .learnMore{
        transform: scale(1.2);
    
    }
  }