* {
  /* outline: 1px solid red; */
}
.containerMain {
  background-color: #000;
  width: 100%;
  padding-bottom: 16px;
}

.containerForm {
  position: relative;
  margin: 0 auto;
  width: 320px;
  justify-content: center;
  padding-top: 60px;
  background-color: #000000;
}
.formImgDiv {
  display: none;
}

.formTitle {
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  color: #ffffff;
  font-size: 24px;
}
.formTitleForm,
.formTitleSpan {
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  color: #000000;
  font-size: 24px;
}
.formTitleSpan {
  display: block;
  padding-left: 0;
}
.formText {
  font-weight: 900;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.formContactText {
  font-weight: 700;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #10131f;
}
.formInput {
  margin-left: 10px;
  width: 280px;
}
.formDiv {
  position: relative;
}

.formDiv::after {
  content: "";
  background-color: #000000;
  height: 1px;
  width: 280px;
  position: absolute;
  top: 23px;
  left: 10px;
}

.learnMore {
  margin-top: 30px;
  position: relative;
  background: transparent;
  width: 274px;
  height: auto;
}
.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
}
.icon,
.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #10131f;
  left: 40%;
  transform: translateX(-50%);
  width: 1.125rem;
  height: 0.125rem;
}
.icon {
  background: none;
}
.icon::before,
.arrow::before {
  position: absolute;
  content: "";
  top: -0.294rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #10131f;
  border-right: 0.125rem solid #10131f;
  transform: rotate(45deg);
}
.buttonText {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.learnMore:hover .circle {
  width: 100%;
}
.learnMore:hover .arrow {
  transform: translate(7rem, 0);
}
.learnMore:hover .buttonText {
  color: #10131f;
}
.learnMoreWhite {
  margin: 12px 0;
  position: relative;
  background: transparent;
  width: 274px;
  height: auto;
}

.circleWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 20px;
}
.iconWhite,
.arrowWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  left: 40%;
  transform: translateX(-50%);
  width: 1.125rem;
  height: 0.125rem;
}
.iconWhite {
  background: none;
}
.iconWhite::before,
.arrowWhite::before {
  position: absolute;
  content: "";
  top: -0.294rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #ffffff;
  border-right: 0.125rem solid #ffffff;
  transform: rotate(45deg);
}
.buttonTextWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: #000;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.learnMoreWhite:hover .circleWhite {
  width: 100%;
}
.learnMoreWhite:hover .arrowWhite {
  transform: translate(7rem, 0);
}
.learnMoreWhite:hover .buttonTextWhite {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 320px;
  align-items: left;
  margin: 0 auto;
  background-color: #ffffff;
  transform: translateX(50%);
  height: 488px;
}
.formContainer,
.formContainerClosed {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  padding-top: 50px;
}
.formContainerClosed {
  display: none;
}
.formX {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  width: 44px;
  height: 44px;
  margin-left: 264px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.formX::after {
  content: "";
  width: 44px;
  height: 44px;
  background-image: url("../../assets/icons/x/close.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .containerMain {
    position: relative;
    height: 410px;
  }
  .containerMain::after {
    content: "";
    position: absolute;
    background-image: url("../../assets/photos/first.png");
    width: 50%;
    height: 410px;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
  }
  .container {
    display: flex;
    width: 50%;
    margin: 0;
  }
  .form,
  .containerForm {
    position: static;
    height: 410px;
  }
  .formContainer,  .formContainerClosed{
    transform: translateX(0);
    width: 50%;
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    padding-top: 0px;
    display: block;
  }
  .formTitle {
    font-size: 35px;
  }
  .form {
    padding: 0;
    padding-left: 10%;
    background-color: #ffffff;
    transform: translateX(0);
    width: 100%;
  }
  .formX {
    margin-left: 288px;
    margin-bottom: -15px;
    margin-top: 6px;
  }
  .formTitleForm,
  .formTitleSpan {
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .formImgDiv {
    display: flex;
  }
  .containerMain,
  .containerMain::after,
  .formImgDiv {
    height: 750px;
  }
  .containerForm {
    width: 600px;
    padding-top: 16%;
  }
  .formTitle {
    padding-left: 4%;
    font-size: 50px;
    width: 90%;
  }
  .learnMore {
    margin-left: 7%;
    transform: scale(1.2);
    margin-top: 60px;
  }
  .form {
    padding-left: 1%;
    padding-bottom: 63px;
    height: 750px;
  }
  .formX {
    margin-top: 22px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    margin-left: 80%;
  }
  .formX::after {
    width: 60px;
    height: 60px;
  }
  .learnMoreWhite {
    margin: 49px 0;
    transform: scale(1.2) translateX(10%);
  }
  .formDiv {
    margin-top: 4px;
  }
  .formTitleForm,
  .formTitleSpan {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .formText,
  .formInput {
    font-size: 16px;
  }
  .formText {
    margin-top: 10px;
  }
  .formContactText {
    font-size: 25px;
  }
}
@media (min-width: 1440px) {
  .form {
    padding-left: 8%;
  }
  .formX {
    margin-left: 76%;
  }
  .formTitleForm {
    font-size: 45px;
  }
  .learnMoreWhite {
    margin: 43px 0;
  }
}
