.aboutus_container {
  width: 100%;
  min-height: 240px;
  background-image: url("../../assets/photos/aboutus_mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutus_box {
    position: relative;
  width: 245px;
  height: 193px;
  background: #10131f;
  opacity: 0.9;
}

.aboutus_title {
    text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.aboutus_text {
    position: absolute;
    left: 95px;
    text-align: left;
    width: 130px;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.aboutus_cirlce{
    position: absolute;
    width: 95%;
    left: 10%;
    top: 4%;
}

.learnMore {
    position: absolute;
    transform: scale(0.7);
    left: 23%;
    top: 50%;
    background: transparent;
    width: 214px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 20px;
  }
  
  .icon,
  .arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #10131f;
    left: 40%;
    transform: translateX(-50%);
    width: 1.125rem;
    height: 0.125rem;
  }
  .icon {
    background: none;
  }
  .icon::before,
  .arrow::before {
    position: absolute;
    content: "";
    top: -0.294rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #10131f;
    border-right: 0.125rem solid #10131f;
    transform: rotate(45deg);
  }
  .buttonText {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
  }
