.aboutus_container {
  width: 100%;
  min-height: 240px;
  background-image: url("../../assets/photos/aboutus_mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutus_box {
  position: relative;
  width: 245px;
  height: 193px;
  background: #10131f;
  opacity: 0.9;
}

.aboutus_title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.aboutus_text {
  position: absolute;
  left: 95px;
  text-align: left;
  width: 130px;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.aboutus_cirlce {
  position: absolute;
  width: 95%;
  left: 10%;
  top: 4%;
}
.btnWrapper{
  position: absolute;
  left: 23%;
  top: 76%;
  width: 214px;
}

@media (min-width: 768px) {
  .aboutus_container {
    min-height: 520px;
    background-image: url("../../assets/photos/aboutus_tablet.svg");
  }

  .aboutus_box {
    width: 435px;
    height: 355px;
  }

  .aboutus_title {
    font-size: 30px;
    line-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .aboutus_text {
    width: 210px;
    left: 176px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }

  .btnWrapper{
    left: 39%;
    top: 76%;
  }

  .aboutus_cirlce {
    width: 80%;
    left: 73%;
    top: 48%;
  }
}

@media (min-width: 1200px) {
  .aboutus_container {
    min-height: 770px;
    background-image: url("../../assets/photos/abouts_desc.svg");
  }

  .aboutus_box {
    width: 591px;
    height: 441px;
  }

  .aboutus_title {
    font-size: 45px;
    line-height: 75px;
    position: absolute;
    left: 29%;
  }

  .aboutus_text {
    width: 424px;
    height: 120px;
    left: 176px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    top: 21%;
  }


  .btnWrapper{
    left: 33.4%;
    top: 76%;
  }
  .aboutus_cirlce {
    opacity: 0.4;
    width: 90%;
    left: 65%;
    top: 33%;
  }
}
