.enter {
  transform: translateY(0);
}

.enterActive {
  transform: translateY(20%);
  transition: transform 250ms ease-in-out;
}

.exit {
  transform: translateY(20%);
}

.exitActive {
  transform: translateY(0);
  transition: transform 250ms ease-in-out;
}
