.bg {
  background: #10131f;
  color: #fff;
}

.imgWrapper {
  position: relative;
}
.mainImg {
  background-image: url("../../../assets/photos/aboutPage.png");
  width: 100%;
  height: 256px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.mainImg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
  top: 0;
  left: 0;
}
.mainImgTitle {
  font-weight: 800;
  margin: 16px 0;
  font-size: 28px;
}
.mainImgTextWrapper {
  position: absolute;
  top: 120px;
  left: 20px;
}
.mainImgText {
  font-weight: 400;
  font-size: 14px;
}
.container {
  width: 80%;
  /* margin-left: 20%; */
  margin: 0 auto;
  position: relative;
}
.aboutTitle {
  font-size: 26px;
  margin: 28px auto;
  font-weight: 800;
  text-align: left;
  width: 152px;
}
.aboutList {
  padding-bottom: 40px ;
  width: 180px;
  margin: 0 auto;
  text-align: center;
}
.aboutListTarget {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutListIcon {
  width: 45px;
  height: 45px;
}
.aboutListTarget:nth-child(1) .aboutListIcon {
  width: 42px;
  height: 52px;
}
.aboutListTitle{
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
}
.aboutListMessage{
    font-weight: 300;
    font-size: 14px;
}