.header {
  width: 100wv;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.logo {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.menuItem {
  transition: 0.3s ease-in-out;
}

.menuItem:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.navWrapper,
.menuWrapper {
  display: flex;
  justify-content: space-between;
}

.navWrapper {
  width: 280px;
  height: 100%;
  align-items: center;
}

.menuList {
  display: none;
}

.menuWrapper {
  width: 80px;
  height: 26px;
}

.langWrapper {
  width: 26px;
}

.langWrapper::after {
  content: "";
  background-color: tomato;
  height: 1px;
  width: 26px;
  position: absolute;
}

.langWrapper:hover {
  cursor: pointer;
}

.lang {
  color: white;
  text-align: center;
}

.burger {
  width: 26px;
  height: 26px;
  background-color: #34fab4;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
  }

  .navWrapper {
    width: 740px;
  }

  .menuWrapper {
    width: 400px;
  }

  .menuList {
    display: flex;
    justify-content: space-between;
    width: 260px;
  }

  .menuItem {
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
}

@media (min-width: 1100px) {
  .header {
    height: 100px;
  }

  .navWrapper {
    width: 1100px;
  }
}
