.contacts {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10131fb3;
  position: relative;
}

.contactsHeader,
.contactsSubHeader {
  color: #fff;
}

.contactsHeader {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contactsSubHeader:before {
  content: "";
  position: absolute;
  top: 70px;
  height: 2px;
  width: 80%;
  background-color: #fff;
}

.contactsSubHeader {
  font-size: 16px;
  margin-bottom: 30px;
}

.contactsList {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contactsListItem {
  height: 30px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .contactsSubHeader:before {
    left: 10%;
    top: 70px;
    height: 2px;
    width: 80%;
  }

  .contactsList {
    width: 700px;
    height: 100px;
    flex-direction: row;
  }
}
