.contacts {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10131fb3;
  position: relative;
}

.contactsHeader,
.contactsSubHeader {
  color: #fff;
}

.contactsHeader {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contactsSubHeader:before {
  content: "";
  position: absolute;
  left: 10%;
  top: 70px;
  height: 2px;
  width: 80%;
  background-color: #fff;
}

.contactsSubHeader {
  font-size: 16px;
  margin-bottom: 30px;
}

.contactsList {
  height: 230px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contactsListItem {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contactsSpan {
  display: block;
}

.telWrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contacts {
    height: 280px;
  }

  .contactsSubHeader:before {
    top: 70px;
    height: 2px;
    width: 80%;
  }

  .contactsList {
    width: 90%;
    height: 100px;
    flex-direction: row;
  }

  .contactsListItem {
    width: 220px;
  }
}

@media (min-width: 1200px) {
  .contactsList {
    width: 50%;
  }
}
